<div class="page-content-wrapper py-3">

    <div class="datatable-toolbar">
        <div class="field has-addons">
            <p class="control">
                <button class="button h-button" [routerLink]="['../../../Detail', classroomId]">
                    <span class="icon is-small">
                        <i aria-hidden="true" class="fas fa-arrow-left"></i>
                    </span>
                    <span>Regresar</span>
                </button>
            </p>
        </div>

        <div class="buttons d-flex justify-content-center" *ngIf="isLoaded">
            <button class="button h-button is-warning" (click)="prevPage()" [disabled]="page === 1">
                <span class="icon">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span>Anterior</span>
            </button>
            <button class="button h-button is-warning" (click)="getQuestions()" [disabled]="page === totalPages">
                <span class="icon">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span>Siguiente</span>
            </button>
            <div id="paging-first-datatable" class="pagination datatable-pagination">
                <div class="datatable-info">
                    <span>{{ page }} / {{ totalPages }}</span>
                </div>
            </div>
        </div>


        <div class="buttons"></div>
    </div>

    <div class="page-content-inner">
        <div class="d-flex justify-content-center" *ngIf="isFile">
            <pdf-viewer [src]="pdfSrc" [original-size]="true" [render-text]="true" [rotation]="0" [show-all]="false"
                [fit-to-page]="true" [zoom]="1" [zoom-scale]="'page-width'" [stick-to-page]="true"
                [external-link-target]="'blank'" [autoresize]="true" [show-borders]="false" class="pdf-viewer"
                [page]="page" (after-load-complete)="afterLoadComplete($event)" class="pdf-viewer"></pdf-viewer>
        </div>
        <!-- Empty Message -->
        <app-placeholder-empty *ngIf="!isFile"></app-placeholder-empty>
    </div>

</div>

<!-- Modal Questions   -->

<div class="modal h-modal" [class.is-active]="isQuestions">
    <div class="modal-background  h-modal-close"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3>Resonde las siguientes preguntas</h3>
                <button class="h-modal-close ml-auto">
                    <i data-feather="x"></i>
                </button>
            </header>
            <div class="modal-card-body">
                <div class="inner-content">
                    <div class="modal-form">
                        <div class="columns is-multiline">
                            <div class="column is-12" *ngFor="let item of listQuestions; let i = index">
                                <div class="field">
                                    <h3>{{ item.position }} - {{ item.question_statement }}</h3>
                                    <div class="buttons">
                                        <a class="button h-button" [class.is-warning]="toPaintOption(item.position, item.id, option)" *ngFor="let option of listQuestions[i].options"
                                            (click)="generateAnswers(item, option)">
                                            {{ option }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-card-foot is-end">
                <a class="button h-button is-primary is-raised is-rounded" (click)="createAnswers()">Guardar</a>
            </div>
        </div>
    </div>
</div>