<div class="view-wrapper is-webapp" >

    <div class="page-content-wrapper">
        <div class="page-content is-relative">

            <div class="page-content-inner">

                <!--Lifestyle Dashboard V4-->
                <div class="lifestyle-dashboard lifestyle-dashboard-v4">

                    <div class="columns">

                        <div class="column is-8">

                            <div class="columns is-multiline">
                                <!--Header-->
                                <div class="column is-12">
                                    <div class="illustration-header-2">
                                        <div class="header-image">
                                            <img src="assets/img/illustrations/dashboards/lifestyle/reading.svg" alt="">
                                        </div>
                                        <div class="header-meta">
                                            <h3>Biblioteca virtual.</h3>
                                            <p>No te pierdas los mejores libros ... ¡Qué esperas a unirte con nosotros! Crea tu cuenta y disfruta de la lectura.</p>
                                        </div>
                                    </div>
                                </div>

                                <!--Content-->
                                <div class="column is-7">

                                    <div class="writing-stats">
                                        <!--Stat-->
                                        <div class="writing-stat">
                                            <span>Libros</span>
                                            <span class="dark-inverted">16</span>
                                        </div>
                                        <!--Stat-->
                                        <div class="writing-stat">
                                            <span>Usuarios</span>
                                            <span class="dark-inverted">8</span>
                                        </div>
                                        <!--Stat-->
                                        <div class="writing-stat">
                                            <span>Clases</span>
                                            <span class="dark-inverted">7</span>
                                        </div>
                                        <!--Stat-->
                                        <div class="writing-stat">
                                            <span>Estudiantes</span>
                                            <span class="dark-inverted">7</span>
                                        </div>
                                        <!--Stat-->
                                        <div class="writing-stat">
                                            <span>Profesores</span>
                                            <span class="dark-inverted">1</span>
                                        </div>
                                        <!--Stat-->
                                        <div class="writing-stat">
                                            <span>Familiares</span>
                                            <span class="dark-inverted">1</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--Feed-->
                        <div class="column is-4">
                            <div class="articles-feed">
                                <!--Header-->
                                <div class="articles-feed-header">
                                    <h3 class="dark-inverted">Últimos libros</h3>
                                </div>
                                <!--Subheader-->
                                <div class="articles-feed-subheader">
                                    <div class="selector">
                                        <button class="button is-selected is-info">Recientes</button>
                                    </div>
                                </div>
                                <!--List-->
                                <div class="articles-feed-list">
                                    <div class="articles-feed-list-inner">
                                        <!--Item-->
                                        <a class="articles-feed-item">
                                            <div class="featured-image">
                                                <img src="https://via.placeholder.com/800x600" data-demo-src="assets/img/photo/demo/38.jpg" alt="">
                                            </div>
                                            <div class="featured-content">
                                                <h4 class="dark-inverted">Learning the modern novel</h4>
                                                <p>Some article content and lorem ipsum sit dolor amet</p>

                                                <div class="media-flex-center">
                                                    <div class="h-avatar is-small">
                                                        <img class="avatar is-squared" src="https://via.placeholder.com/150x150" data-demo-src="assets/img/avatars/photos/7.jpg" alt="">
                                                    </div>
                                                    <div class="flex-meta">
                                                        <span>Christian Osorio</span>
                                                        <span>Software Engineer</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <!--Item-->
                                        <a class="articles-feed-item">
                                            <div class="featured-image">
                                                <img src="https://via.placeholder.com/800x600" data-demo-src="assets/img/photo/demo/37.jpg" alt="">
                                            </div>
                                            <div class="featured-content">
                                                <h4 class="dark-inverted">5 Writing tips for you</h4>
                                                <p>Some article content and lorem ipsum sit dolor amet</p>

                                                <div class="media-flex-center">
                                                    <div class="h-avatar is-small">
                                                        <img class="avatar is-squared" src="https://via.placeholder.com/150x150" data-demo-src="assets/img/avatars/photos/5.jpg" alt="">
                                                    </div>
                                                    <div class="flex-meta">
                                                        <span>Oscar Barrios</span>
                                                        <span>Project Manager</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

</div>