<div class="view-wrapper is-webapp" style="background-color: #039be5;">

    <div class="page-content-wrapper">
        <div class="page-content is-relative">

            <div class="page-content-inner">

                <!--Lifestyle Dashboard V4-->
                <div class="lifestyle-dashboard lifestyle-dashboard-v4">

                    <div class="columns">

                        <div class="column is-12">

                            <div class="columns is-multiline">
                                <!--Header-->
                                <div class="column is-12">
                                    <div class="illustration-header-2">
                                        <div class="header-image">
                                            <img src="assets/img/illustrations/dashboards/lifestyle/reading.svg" alt="">
                                        </div>
                                        <div class="header-meta">
                                            <h3>Magic Book.</h3>
                                            <p>No te pierdas los mejores libros ... ¡Qué esperas a unirte con nosotros! Crea tu cuenta y disfruta de la lectura.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

</div>