@import "src/colors";

button {
    color: $indigo;
    transition: 0.25s;
    width: 30%;

    &:hover,
    &:focus {
        background-color: $indigo;
        color: #fff;
    }
}

.example-header-image {
    background-image: url('https://huro.cssninja.io/assets/img/photo/demo/abstracts/2.png');
    background-size: cover;
    margin: 1em;
}

mat-card {
    width: 60%;
}