@import "src/colors";

button {
    color: $indigo;
    transition: 0.25s;
    width: 30%;

    &:hover,
    &:focus {
        background-color: $indigo;
        color: #fff;
    }
}

mat-card {
    width: 60%;
}