<div class="page-content-inner py-3">

  <!--Onboarding V1-->
  <div class="onboarding-wrapper onboarding-v1">
    <div class="title-wrap">
      <p>Libros</p>
      <h2 class="dark-inverted">¿Deseas crear un libro?</h2>
      <a class="button h-button is-primary is-raised is-bold" [routerLink]="['../Create']">
        <span>Nueva Libro</span>
      </a>
    </div>

    <div class="books--grid py-3">
      <app-card-book [book]="book" *ngFor="let book of listBooks"></app-card-book>
    </div>
  </div>

</div>