<div class="page-content-inner">

  <!--Onboarding V1-->
  <div class="onboarding-wrapper onboarding-v1">
    <div class="title-wrap">
      <p>Libros</p>
      <h2 class="dark-inverted">¿Deseas crear un libro?</h2>
      <a class="button h-button is-primary is-raised is-bold" [routerLink]="['../Create']">
        <span>Nuevo Libro</span>
      </a>
    </div>

    <div class="books--grid py-3">
      <app-card-book [book]="book" *ngFor="let book of listBooks"></app-card-book>
    </div>
  </div>
      <!-- Placeholder Empty -->
      <div class="table-wrapper" data-simplebar *ngIf="isData && listBooks.length === 0">
        <app-placeholder-empty></app-placeholder-empty>
    </div>

</div>