@import "src/colors";

h1 {
  font-family: 'Oxygen', sans-serif;
  font-size: 40px;
}

.books--grid {
  display: flex;
  flex-direction: column;
}

// tablets
@media screen and (min-width: 40em) and (max-width: 1545px) {
  .books--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}

// web
@media screen and (min-width: 64em) {
  .books--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}
