<div fxLayout="column" fxLayoutAlign="center center" fxFill>
    <img src="assets/images/reset-password.svg" alt="home">
    <h1>Restablecer Contraseña.</h1>
    <p class="text-muted">
        Ingrese su dirección de correo electrónico para solicitar un restablecimiento de contraseña.
    </p>
    <form name="resetForm" [formGroup]="formReset">
        <mat-form-field appearance="outline">
            <mat-label><label for="email">Correo electrónico</label></mat-label>
            <input id="email" matInput autocomplete="off" formControlName="email" />
            <mat-icon matSuffix class="secondary-text">mail</mat-icon>
            <mat-error *ngIf="formReset.get('email')!.hasError('pattern')">
                Correo electrónico nó válido.
            </mat-error>
            <mat-error *ngIf="formReset.get('email')!.hasError('required')">
                Se require de un correo electrónico.
            </mat-error>
        </mat-form-field>
    </form>
    <button type="buttom" mat-raised-button color="primary" aria-label="Reenviar" (click)="forgot()">
        Restablecer contraseña
    </button>
    <div fxLayout="row" fxLayoutAlign="center center" class="py-3">
        <a routerLink="/Login/Signin" class="text-muted">¿Quieres volver? <span>Iniciar Sesión</span></a>
    </div>
</div>