a {
    cursor: pointer;
    text-decoration: none;
}

span {
    font-weight: bold;
    color: darkcyan;
}

img {
    width: 15%;
    height: auto;
}

mat-form-field {
    width: 400px;
}

@media (max-width: 961px) {
    mat-form-field   {
        width: 100%;
    }
}