.forgot-link {
    margin-top: 10px
}

.forgot-link a {
    font-family: "Montserrat", sans-serif;
    font-size: .9rem;
    color: #a2a5b9;
    -webkit-transition: color .3s;
    transition: color .3s
}

.forgot-link a:hover {
    color: #039BE5 !important;
}