<div class="page-content-inner is-webapp" *ngIf="book">
    <div class="d-flex justify-content-end">
        <button class="button h-button is-placeholder is-rounded is-elevated" (click)="closeModal()">
            <span class="icon">
                <i class="fa fa-times"></i>
            </span>
        </button>
    </div>
    <br>
    <!--Pronotion Page-->
    <div class="promotion-page-wrapper animate__animated animate__fadeIn" *ngIf="book">
        <div class="wrapper-outer">
            <div class="wrapper-inner">
                <div class="action-box">
                    <div class="box-content">
                        <img *ngIf="book.book_cover_m !== null" class="light-image is-larger"
                            src="data:image/png;base64,{{ book.book_cover_m }}" />
                        <img *ngIf="book.book_cover_m === null" class="light-image is-larger"
                            src="assets/img/illustrations/onboarding/set2-1.svg" />
                        <h3 class="dark-inverted">{{ book.title }}</h3>
                        <h1>Páginas<b> {{ book.number_of_pages }}</b></h1>
                        <p><b>isbn10</b> {{ book.isbn10 }}</p>
                        <p><b>isbn13</b> {{ book.isbn13 }}</p>
                    </div>
                </div>
            </div>

            <div class="side-wrapper">
                <div class="side-inner">
                    <div class="side-title">
                        <h3 class="dark-inverted">Información adicional</h3>
                        <p>Echa un vistazo a algunas características increíbles.</p>
                    </div>

                    <div class="action-list">
                        <div class="media-flex">
                            <span class="icon">
                                <i aria-hidden="true" class="fas fa-check"></i>
                            </span>
                            <div class="flex-meta">
                                <span>Temas</span>
                                <p>Estos son algunos de los temas a tratar.</p>
                                <div class="columns is-multiline">
                                    <div class="column is-6" *ngFor="let item of book.subjects | slice:0:5 ; let i = index">
                                        <span class="tag is-rounded is-info is-elevated" *ngIf="i<5">
                                            {{ item.name | slice:0:25 }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media-flex">
                            <span class="icon">
                                <i aria-hidden="true" class="fas fa-check"></i>
                            </span>
                            <div class="flex-meta">
                                <span>Autores</span>
                                <p>Estos son los autores del libro.</p>
                                <div class="columns is-multiline" *ngIf="book.authors.length === 1">
                                    <div class="column is-12" *ngFor="let item of book.authors">
                                        <span class="tag is-rounded is-info is-elevated">
                                            {{ item.name | slice:0:25 }}
                                        </span>
                                    </div>
                                </div>
                                <div class="columns is-multiline" *ngIf="book.authors.length > 1">
                                    <div class="column is-6" *ngFor="let item of book.authors | slice:0:5 ; let i = index">
                                        <span class="tag is-rounded is-info is-elevated" *ngIf="i<5">
                                            {{ item.name | slice:0:25 }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media-flex">
                            <span class="icon">
                                <i aria-hidden="true" class="fas fa-check"></i>
                            </span>
                            <div class="flex-meta">
                                <span>Personas</span>
                                <p>Personajes que aparecen en el libro.</p>
                                <div class="columns is-multiline" *ngIf="book.people.length === 1">
                                    <div class="column is-12" *ngFor="let item of book.people">
                                        <span class="tag is-rounded is-info is-elevated">
                                            {{ item.name | slice:0:25 }}
                                        </span>
                                    </div>
                                </div>
                                <div class="columns is-multiline" *ngIf="book.people.length > 1">
                                    <div class="column is-6" *ngFor="let item of book.people | slice:0:5 ; let i = index">
                                        <span class="tag is-rounded is-info is-elevated" *ngIf="i<5">
                                            {{ item.name | slice:0:25 }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>