<div class="list-view-inner" *ngIf="books">

    <!--Item-->
    <div class="list-view-item" *ngFor="let item of books">
        <div class="list-view-item-inner">
            <div class="pre-meta">
                <h3 data-filter-match>{{ item.user_book.book.title }}</h3>
            </div>
            <img class="avatar" src="data:image/png;base64,{{ item.user_book.book.book_cover_m }}"
                data-demo-src="assets/img/illustrations/list-views/cake-1.svg" alt="">
            <div class="meta-left">
                <h3 data-filter-match>
                </h3>
                <span>
                    <i data-feather="archive"></i>
                    <span data-filter-match>{{ item.description }}</span>
                    <i aria-hidden="true" class="fas fa-circle icon-separator"></i>
                    <i data-feather="clock"></i>
                    <span data-filter-match>isbn10: {{ item.user_book.book.isbn10 }}</span>
                    <i aria-hidden="true" class="fas fa-circle icon-separator"></i>
                    <i data-feather="paperclip"></i>
                    <span data-filter-match>isbn13: {{ item.user_book.book.isbn13 }}</span>
                </span>
            </div>
            <div class="meta-right">
                <div class="buttons">
                    <a class="button h-button is-warning is-outlined is-raised"[routerLink]="['/Managements/Books/PdfViewer', item.user_book.id]">Ver</a>
                </div>
            </div>
        </div>
    </div>
</div>