<div class="page-content-inner">

    <!--Edit Profile-->
    <div class="account-wrapper">
        <div class="columns">

            <!--Navigation-->
            <div class="column is-4">
                <div class="account-box is-navigation">
                    <div class="media-flex-center" *ngIf="user">
                        <div class="h-avatar is-large">
                            <img *ngIf="user.photo === null" class="avatar" src="https://via.placeholder.com/150x150"
                                data-demo-src="assets/img/avatars/photos/8.jpg" alt="">
                            <img *ngIf="user.photo !== null" class="avatar"
                                src="data:image/png;base64,{{ user.photo }}">
                        </div>
                        <div class="flex-meta">
                            <span>{{ user.name }}</span>
                            <span>{{ user.email_address }}</span>
                        </div>
                    </div>

                    <div class="account-menu">
                        <a class="account-menu-item animate__animated animate__fadeIn" [class.is-active]="item.active"
                            (click)="changeTab(i)" *ngFor="let item of tabs; index as i">
                            <i class="lnil lnil-user-alt"></i>
                            <span>{{ item.title }}</span>
                            <span class="end">
                                <i aria-hidden="true" class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>


            <!--Form General-->
            <div class="column is-8" *ngIf="isTabGeneral" [formGroup]="formUser">
                <div class="account-box is-form is-footerless">
                    <div class="form-head stuck-header">
                        <div class="form-head-inner">
                            <div class="left">
                                <h3>Información General</h3>
                                <p>Edita la información general de tu cuenta</p>
                            </div>
                            <div class="right">
                                <div class="buttons">
                                    <button id="save-button" class="button h-button is-primary is-raised"
                                        (click)="onSubmit()" [disabled]="formUser.invalid">
                                        Guardar Cambios
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-body" *ngIf="user">
                        <!--Fieldset-->
                        <div class="fieldset">
                            <div class="fieldset-heading">
                                <h4>Foto de Perfil</h4>
                                <p>Así te reconocerán los demás</p>
                            </div>

                            <div class="h-avatar profile-h-avatar is-xl">
                                <img class="avatar" *ngIf="user.photo === null"
                                    src="https://via.placeholder.com/150x150"
                                    data-demo-src="assets/img/avatars/photos/8.jpg" alt="">
                                <img *ngIf="user.photo !== null" class="avatar"
                                    src="data:image/png;base64,{{ user.photo }}">
                            </div>
                            <div class="control d-flex justify-content-end">
                                <div class="file">
                                    <label class="file-label">
                                        <input class="file-input" type="file" name="resume" formControlName="photo_url"
                                            (change)="onFileChange($event)">
                                        <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fas fa-cloud-upload-alt"></i>
                                            </span>
                                            <span class="file-label">
                                                Seleccionar foto
                                            </span>
                                            <span class="file-name light-text" *ngIf="file">
                                                {{ file.name }}
                                            </span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!--Fieldset-->
                        <div class="fieldset">
                            <div class="fieldset-heading">
                                <h4>Información personal</h4>
                                <p>Nos gustaría conocerte más.</p>
                            </div>

                            <div class="columns is-multiline">
                                <!--Field-->
                                <div class="column is-12">
                                    <div class="field">
                                        <div class="control">
                                            <input type="text" class="input" placeholder="Nombre"
                                                formControlName="name">
                                            <div class="form-icon">
                                                <i data-feather="user"></i>
                                            </div>
                                            <mat-error class="animate__animated animate__fadeIn" *ngIf="formUser.get('name')!.hasError('required') 
                                            && formUser.get('name')!.touched">
                                                Se require de un nombre.
                                            </mat-error>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Form Suscription-->
            <div class="column is-8" *ngIf="isTabSuscription">
                <div class="account-box is-form is-footerless" *ngIf="user">
                    <div class="form-head stuck-header">
                        <div class="form-head-inner">
                            <div class="left">
                                <h3>Suscripción</h3>
                                <p>Actualmente esta es tu suscripción</p>
                            </div>
                            <div class="right">
                                <div class="buttons">
                                    <a (click)="changeTab(0)" class="button h-button is-light is-dark-outlined">
                                        <span class="icon">
                                            <i class="lnir lnir-arrow-left rem-100"></i>
                                        </span>
                                        <span>Regresar</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <app-plan-card [user]="user" (onUpdated)="changeTab($event)"></app-plan-card>
                </div>
            </div>

            <!--Form Plan-->
            <div class="column is-8" *ngIf="isTabPlan">
                <div class="account-box is-form is-footerless">
                    <div class="form-head stuck-header">
                        <div class="form-head-inner">
                            <div class="left">
                                <h3>Planes</h3>
                                <p>Selecciona el plan que deseas</p>
                            </div>
                            <div class="right">
                                <div class="buttons">
                                    <a (click)="changeTab(1)" class="button h-button is-light is-dark-outlined">
                                        <span class="icon">
                                            <i class="lnir lnir-arrow-left rem-100"></i>
                                        </span>
                                        <span>Regresar</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wizard-v1-wrapper">
                        <div id="wizard-step-0" class="inner-wrapper is-active" data-step-title="Project Type">
                            <div class="step-content">

                                <div class="wizard-types">
                                    <div class="columns">
                                        <div class="column is-4">
                                            <div class="wizard-card">
                                                <img src="assets/img/illustrations/wizard/finish.svg" alt="" />
                                                <h3 class="dark-inverted">Básico</h3>
                                                <p>Acceso a muchas características de la plataforma.</p>
                                                <div class="button-wrap">
                                                    <button type="button"
                                                        class="button h-button is-primary is-rounded is-elevated is-bold type-select-button"
                                                        (click)="changePlan(1)" [disabled]="isBasicPlan">
                                                        Elige este plan
                                                    </button>
                                                </div>
                                                <div class="learn-more-link">
                                                    <a type="button" class="dark-inverted-hover">Ver más información</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column is-4">
                                            <div class="wizard-card">
                                                <img src="assets/img/illustrations/widgets/1.svg" alt="" />
                                                <h3 class="dark-inverted">Profesor</h3>
                                                <p>Podrás compartir libros con tus alumnos.</p>
                                                <div class="button-wrap">
                                                    <button type="button"
                                                        class="button h-button is-primary is-rounded is-elevated is-bold type-select-button"
                                                        (click)="changePlan(2)" [disabled]="isTeacherPlan">
                                                        Elige este plan
                                                    </button>
                                                </div>
                                                <div class="learn-more-link">
                                                    <a type="button" class="dark-inverted-hover">Ver más información</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column is-4">
                                            <div class="wizard-card">
                                                <img src="assets/img/illustrations/widgets/6.svg" alt="" />
                                                <h3 class="dark-inverted">Familiar</h3>
                                                <p>Compartiras salas de lectura con tus familiares.</p>
                                                <button type="button"
                                                    class="button h-button is-primary is-rounded is-elevated is-bold type-select-button"
                                                    (click)="changePlan(3)" [disabled]="isFamilyPlan">
                                                    Elige este plan
                                                </button>
                                                <div class="learn-more-link">
                                                    <a type="button" class="dark-inverted-hover">Ver más información</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Form Confg-->
            <div class="column is-8" *ngIf="isTabConfig">
                <div class="account-box is-form is-footerless">
                    <div class="form-head stuck-header">
                        <div class="form-head-inner">
                            <div class="left">
                                <h3>Configuraciones</h3>
                                <p>Edita las configuraciones de tu cuenta</p>
                            </div>
                            <div class="right">
                                <div class="buttons">
                                    <a (click)="changeTab(2)" class="button h-button is-light is-dark-outlined">
                                        <span class="icon">
                                            <i class="lnir lnir-arrow-left rem-100"></i>
                                        </span>
                                        <span>Regresar</span>
                                    </a>
                                    <button id="save-button" class="button h-button is-primary is-raised">
                                        Guardar Cambios
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-body">
                        <!--Fieldset-->
                        <div class="fieldset">
                            <div class="fieldset-heading">
                                <h4>Cambiar Contraseña</h4>
                                <p>Para mejorar la seguridad de la cuenta</p>
                            </div>

                            <div class="columns is-multiline">
                                <!--Field-->
                                <div class="column is-12">
                                    <div class="field">
                                        <div class="control">
                                            <input type="password" class="input" placeholder="Nueva Contraseña">
                                        </div>
                                    </div>
                                </div>
                                <!--Field-->
                                <div class="column is-12">
                                    <div class="field">
                                        <div class="control">
                                            <input type="password" class="input"
                                                placeholder="Repita la nueva contraseña">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>