@import 'src/colors.scss';

.box-info {
    text-align: center;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.badge-user {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-color: $dark_gray;
    color: $white;
    border-radius: 1em;
}

.img-user {
    border-radius:  1em;
    width: 30%;
    height: auto;
}

mat-icon {
    color: $dark_gray;
}