<!-- Button Add -->
<ng-container *ngIf="action === 'Add'">
    <ng-container *ngTemplateOutlet="add"></ng-container>
</ng-container>
<!-- /Button Add -->

<!-- Button Edit -->
<ng-container *ngIf="action === 'Edit'">
    <ng-container *ngTemplateOutlet="edit"></ng-container>
</ng-container>
<!-- /Button Edit -->

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- @ BUTTONS                                                                                            -->
<!-- ----------------------------------------------------------------------------------------------------- -->


<!-- Button Add -->
<ng-template #add>
    <button class="slide button-add" (click)="onActionButton()">Agregar</button>
</ng-template>
<!-- /Button Add -->

<!-- Button Edit -->
<ng-template #edit>
    <button class="close button-edit" (click)="onActionButton()">Editar</button>
</ng-template>
<!-- /Button Edit -->