<div class="page-content-inner content-game">
    <!--Games Dashboard-->
    <div class="food-delivery-dashboard game-content" fxLayout="row" fxLayoutAlign="center center">

        <!--Left-->
        <div class="left">

            <div class="left-body">
                <div class="restaurants">
                    <div class="restaurants-toolbar">
                        <div class="left">
                            <h3>Juegos 🎮</h3>
                        </div>

                        <div class="right">
                        </div>
                    </div>

                    <div class="restaurants-list">
                        <div class="columns is-multiline">
                            <!--Game-->
                            <div class="column is-4">
                                <div class="restaurants-list-item card-game">
                                    <div class="image-container">
                                        <img src="assets/img/illustrations/placeholders/error-1.svg" alt="">
                                        <div class="timer">
                                            <span class="material-icons">
                                                sports_esports
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Game-->
                            <div class="column is-4">
                                <div class="restaurants-list-item card-game">
                                    <div class="image-container">
                                        <img src="assets/img/illustrations/placeholders/error-5.svg" alt="">
                                        <div class="timer">
                                            <span class="material-icons">
                                                sports_esports
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Game-->
                            <div class="column is-4">
                                <div class="restaurants-list-item card-game card-game">
                                    <div class="image-container">
                                        <img src="assets/img/illustrations/widgets/2.svg" alt="">
                                        <div class="timer">
                                            <span class="material-icons">
                                                sports_esports
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Game-->
                            <div class="column is-4">
                                <div class="restaurants-list-item card-game">
                                    <div class="image-container">
                                        <img src="https://via.placeholder.com/800x450" alt="">
                                        <div class="timer">
                                            <span class="material-icons">
                                                sports_esports
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Game-->
                            <div class="column is-4">
                                <div class="restaurants-list-item card-game">
                                    <div class="image-container">
                                        <img src="https://via.placeholder.com/800x450" alt="">
                                        <div class="timer">
                                            <span class="material-icons">
                                                sports_esports
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Game-->
                            <div class="column is-4">
                                <div class="restaurants-list-item card-game">
                                    <div class="image-container">
                                        <img src="https://via.placeholder.com/800x450" alt="">
                                        <div class="timer">
                                            <span class="material-icons">
                                                sports_esports
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Game-->
                            <div class="column is-4">
                                <div class="restaurants-list-item card-game">
                                    <div class="image-container">
                                        <img src="https://via.placeholder.com/800x450" alt="">
                                        <div class="timer">
                                            <span class="material-icons">
                                                sports_esports
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Game-->
                            <div class="column is-4">
                                <div class="restaurants-list-item card-game">
                                    <div class="image-container">
                                        <img src="https://via.placeholder.com/800x450" alt="">
                                            <div class="timer">
                                                <span class="material-icons">
                                                    sports_esports
                                                </span>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <!--Game-->
                            <div class="column is-4">
                                <div class="restaurants-list-item card-game">
                                    <div class="image-container">
                                        <img src="https://via.placeholder.com/800x450" alt="">
                                            <div class="timer">
                                                <span class="material-icons">
                                                    sports_esports
                                                </span>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <!--Game-->
                            <div class="column is-4">
                                <div class="restaurants-list-item card-game">
                                    <div class="image-container">
                                        <img src="https://via.placeholder.com/800x450" alt="">
                                            <div class="timer">
                                                <span class="material-icons">
                                                    sports_esports
                                                </span>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <!--Game-->
                            <div class="column is-4">
                                <div class="restaurants-list-item card-game">
                                    <div class="image-container">
                                        <img src="https://via.placeholder.com/800x450" alt="">
                                            <div class="timer">
                                                <span class="material-icons">
                                                    sports_esports
                                                </span>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <!--Game-->
                            <div class="column is-4">
                                <div class="restaurants-list-item card-game">
                                    <div class="image-container">
                                        <img src="https://via.placeholder.com/800x450" alt="">
                                            <div class="timer">
                                                <span class="material-icons">
                                                    sports_esports
                                                </span>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <!--Game-->
                            <div class="column is-4">
                                <div class="restaurants-list-item card-game">
                                    <div class="image-container">
                                        <img src="https://via.placeholder.com/800x450" alt="">
                                            <div class="timer">
                                                <span class="material-icons">
                                                    sports_esports
                                                </span>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <!--Game-->
                            <div class="column is-4">
                                <div class="restaurants-list-item card-game">
                                    <div class="image-container">
                                        <img src="https://via.placeholder.com/800x450" alt="">
                                            <div class="timer">
                                                <span class="material-icons">
                                                    sports_esports
                                                </span>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <!--Game-->
                            <div class="column is-4">
                                <div class="restaurants-list-item card-game">
                                    <div class="image-container">
                                        <img src="https://via.placeholder.com/800x450" alt="">
                                        <div class="timer">
                                            <div>
                                                <span>30</span>
                                                <span>Min</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Game-->
                            <div class="column is-4">
                                <div class="restaurants-list-item card-game">
                                    <div class="image-container">
                                        <img src="https://via.placeholder.com/800x450" alt="">
                                            <div class="timer">
                                                <span class="material-icons">
                                                    sports_esports
                                                </span>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <!--Game-->
                            <div class="column is-4">
                                <div class="restaurants-list-item card-game">
                                    <div class="image-container">
                                        <img src="https://via.placeholder.com/800x450" alt="">
                                            <div class="timer">
                                                <span class="material-icons">
                                                    sports_esports
                                                </span>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <!--Game-->
                            <div class="column is-4">
                                <div class="restaurants-list-item card-game">
                                    <div class="image-container">
                                        <img src="https://via.placeholder.com/800x450" alt="">
                                            <div class="timer">
                                                <span class="material-icons">
                                                    sports_esports
                                                </span>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>