<div class="minimal-wrapper darker">
    <!--Page body-->
    <div class="error-container">
        <div class="error-wrapper">
            <div class="error-inner has-text-centered">
                <img class="light-image" src="assets/img/illustrations/placeholders/error-3.svg" alt="" />
                <img class="dark-image" src="assets/img/illustrations/placeholders/error-3-dark.svg" alt="" />
                <h3 class="dark-inverted">No pudimos encontrar esa página</h3>
                <p>Parece que no pudimos encontrar esa página. Vuelva a intentarlo o póngase en contacto con un
                    administrador si el problema persiste.</p>
                <div class="button-wrap">
                    <a class="button h-button is-info is-rounded is-elevated" routerLink="/Home">Regresar</a>
                </div>
            </div>
        </div>
    </div>
</div>