<mat-toolbar class="mat-elevation-z2">

    <!-- Left Side -->
    
    <!-- /Left Side -->

    <!-- Divider -->
    <span class="example-spacer"></span>
    <!-- /Divider -->

    <!-- Right Side -->
    <button mat-button routerLink="/Login/Signin" color="primary">
        <span style="padding-left: 8px;">Iniciar Sesión</span>
    </button>

    <button mat-button routerLink="/Login/Signup" color="primary">
        <span style="padding-left: 8px;">Registrarse</span>
    </button>
    <!-- /Right Side -->

</mat-toolbar>