<!--Webapp navbar alt-->
<div class="webapp-navbar">
    <div class="webapp-navbar-inner">
        <div class="left">
            <a [routerLink]="['Managements/Intro/Main']" routerLinkActive="router-link-active" class="brand">
                <img class="light-image" src="assets/img/logo-library.svg" alt="" />
                <img class="dark-image" src="assets/img/logo-library.svg" alt="" />
            </a>
            <div class="separator"></div>
            <h1 id="webapp-page-title" class="title is-5">Bienvenido</h1>
        </div>
        <div class="center">
            <div id="webapp-navbar-menu" class="centered-drops">
                <div class="centered-drop">
                    <div class="dropdown is-modern is-spaced dropdown-trigger has-mega-dropdown">
                        <div class="is-trigger" aria-haspopup="true" aria-controls="dropdown-menu">
                            <button class="button h-button is-rounded" aria-haspopup="true"
                                aria-controls="dropdown-menu" routerLink="/Login/Signin">
                                <span>Iniciar Sesión</span>
                                <span class="caret">
                                    <i data-feather="log-in"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="centered-drop">
                    <div class="dropdown is-modern is-spaced dropdown-trigger has-mega-dropdown">
                        <div class="is-trigger" aria-haspopup="true" aria-controls="dropdown-menu">
                            <button class="button h-button is-rounded" aria-haspopup="true"
                                aria-controls="dropdown-menu" routerLink="/Login/Signup">
                                <span>Registrarse</span>
                                <span class="caret">
                                    <i data-feather="user"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="toolbar ml-auto">
                <div class="toolbar-link">
                    <label class="dark-mode ml-auto">
                        <input #inputTheme type="checkbox" checked (click)="setTheme()">
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>