<!-- Toolbar -->
<ng-container *ngIf="appConfig.layout.toolbar.visible">
    <ng-container *ngTemplateOutlet="toolbar"></ng-container>
</ng-container>
<!--   /Toolbar -->

<!-- Generic Container -->
<ng-container *ngIf="appConfig.layout.generic_container.visible">
    <ng-container *ngTemplateOutlet="generic_container"></ng-container>
</ng-container>
<!-- /Generic Container -->

<!-- Sidenav -->
<ng-container *ngIf="appConfig.layout.sidenav.visible">
    <ng-container *ngTemplateOutlet="sidenav"></ng-container>
</ng-container>
<!-- Sidenav-->

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- @ PARTIALS                                                                                            -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<!-- TOOLBAR -->
<ng-template #toolbar>
    <app-toolbar></app-toolbar>
</ng-template>
<!-- /TOOLBAR -->

<!-- SIDENAV -->
<ng-template #sidenav>
    <app-sidenav></app-sidenav>
</ng-template>
<!-- /SIDENAV -->

<!-- GENERIC CONTAINER -->
<ng-template #generic_container>
    <app-generic-container></app-generic-container>
</ng-template>
<!-- /GENERIC CONTAINER -->

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true">
    <p style="color: white"> Cargando... </p>
</ngx-spinner>