<div class="auth-wrapper">

    <div class="auth-wrapper-inner is-single">
        <!--Single Centered Form-->
        <div class="single-form-wrap">

            <div class="inner-wrap">
                <!--Form Title-->
                <div class="auth-head">
                    <h2>Únete con nosotros</h2>
                    <p>Comienza por crear tu cuenta</p>
                    <a routerLink="/Login/Signin">Ya tengo una cuenta</a>
                </div>

                <!--Form-->
                <div class="form-card">

                    <form name="formRegister" [formGroup]="formRegister">
                        <div id="signin-form" class="login-form">
                            <!-- Input -->
                            <div class="field">
                                <div class="control has-icon">
                                    <input class="input" type="text" placeholder="Nombre Completo"
                                        formControlName="name">
                                    <span class="form-icon">
                                        <i data-feather="user"></i>
                                    </span>
                                    <mat-error class="animate__animated animate__fadeIn" *ngIf="formRegister.get('name')!.hasError('required') 
                                    && formRegister.get('name')!.touched">
                                        Se require de un nombre.
                                    </mat-error>
                                </div>
                            </div>
                            <!-- Input -->
                            <div class="field">
                                <div class="control has-icon">
                                    <input class="input" type="text" placeholder="Correo electrónico"
                                        formControlName="email">
                                    <span class="form-icon">
                                        <i data-feather="mail"></i>
                                    </span>
                                    <mat-error class="animate__animated animate__fadeIn"
                                        *ngIf="formRegister.get('email')!.hasError('pattern')">
                                        Correo electrónico nó válido.
                                    </mat-error>
                                    <mat-error class="animate__animated animate__fadeIn" *ngIf="formRegister.get('email')!.hasError('required')
                                    && formRegister.get('email')!.touched">
                                        Se require de un correo electrónico.
                                    </mat-error>
                                </div>
                            </div>
                            <!-- Input -->
                            <div class="field">
                                <div class="control has-icon">
                                    <input class="input" type="password" placeholder="Contraseña"
                                        formControlName="password">
                                    <span class="form-icon">
                                        <i data-feather="lock"></i>
                                    </span>
                                    <mat-error class="animate__animated animate__fadeIn" *ngIf="formRegister.get('password')!.hasError('required')
                                    && formRegister.get('password')!.touched">
                                        Se requiere de una contraseña.
                                    </mat-error>
                                    <mat-error class="animate__animated animate__fadeIn" *ngIf="formRegister.get('password')!.hasError('minlength')
                                        && formRegister.get('password')!.touched">
                                        Se requiere que la contraseña tenga 6 o más caracteres.
                                    </mat-error>
                                </div>
                            </div>
                            <!-- Input -->
                            <div class="field">
                                <div class="control has-icon">
                                    <input class="input" type="password" placeholder="Confirmar Contraseña"
                                        formControlName="confirmPassword">
                                    <span class="form-icon">
                                        <i data-feather="lock"></i>
                                    </span>
                                    <mat-error class="animate__animated animate__fadeIn" *ngIf="formRegister.get('confirmPassword')!.hasError('required')
                                    && formRegister.get('confirmPassword')!.touched">
                                        Se requiere de la confirmación de la contraseña.
                                    </mat-error>
                                    <mat-error class="animate__animated animate__fadeIn" *ngIf="formRegister.get('confirmPassword')!.hasError('MatchPassword')
                                        && formRegister.get('confirmPassword')!.touched">
                                        Las contraseñas no coiciden
                                    </mat-error>
                                </div>
                            </div>

                            <!-- Submit -->
                            <div class="control login">
                                <button type="submit" class="button h-button is-primary is-bold is-fullwidth is-raised"
                                    (click)="register()" [disabled]="formRegister.invalid">
                                    Registrarte
                                </button>

                                <button class="button h-button is-danger is-bold is-fullwidth is-raised"
                                    (click)="authenticationService.GoogleAuth()">
                                    Continuar con Google
                                </button>
                            </div>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>