<div class="container animate__animated animate__fadeIn">
    <div fxLayout="row" fxLayout.md="column" fxLayout.xs="column" class="py-3 d-flex justify-content-center">
        <div fxFlex="50" fxLayout="column" fxLayout.xs="column">
            <h1>Crear Libro</h1>
            <div fxLayout="row" fxLayout.xs="column" [formGroup]="formSearch">
                <div fxLayout="column" fxFlex="80" fxLayout.xs="column">
                    <mat-form-field appearance="fill">
                        <mat-label>Buscar libro por ISBN</mat-label>
                        <input matInput type="text" formControlName="isbnControl">
                    </mat-form-field>
                    <mat-error *ngIf="formSearch.get('isbnControl')!.hasError('minlength') 
                    || formSearch.get('isbnControl')!.hasError('maxlength')">
                        ISBN inválido.
                    </mat-error>
                </div>
                <div fxLayout="column" fxFlex="20" fxLayoutAlign="center end" fxLayoutAlign.xs="end end"
                    fxLayout.xs="column">
                    <button mat-raised-button color="primary" (click)="searchBook()">Buscar</button>
                </div>
            </div>
        </div>
    </div>

    <div fxLayout="row" fxLayout.md="column" fxLayout.xs="column"
        class="d-flex justify-content-center animate__animated animate__fadeIn" *ngIf="book">
        <div fxFlex="50" fxLayout="column" fxLayout.xs="column" fxLayoutGap="40px" class="d-flex justify-content-end">
            <mat-card>
                <mat-card-title-group>
                  <mat-card-title>{{ book.title }}</mat-card-title>
                  <mat-card-subtitle>{{ book.published_at }}</mat-card-subtitle>
                  <mat-card-subtitle><b>isbn10</b> {{ book.isbn10 }}</mat-card-subtitle>
                  <mat-card-subtitle><b>isbn13</b> {{ book.isbn13 }}</mat-card-subtitle>
                  <img mat-card-xl-image src="data:image/png;base64,{{ bookCoverImage }}" >
                </mat-card-title-group>
                <mat-card-content>
                    <button mat-raised-button color="warn" (click)="createUserBook()">Agregar</button>
                </mat-card-content>
              </mat-card>
        </div>
    </div>

    <div fxLayout="row" fxLayout.md="column" fxLayout.xs="column"
        class="py-3 d-flex animate__animated animate__fadeIn justify-content-center" *ngIf="showEmptyMessage">
        <app-placeholder-empty></app-placeholder-empty>
    </div>

</div>