<div fxLayout fxLayoutAlign="center" class="content-letter">
    <span class="card-letter">¡Bienvenido Usuario!</span>
</div>

<div fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxFlex="30" fxFlex.md="30" fxFlex.sm="100" fxFlex.xs="100" *ngFor="let item of navigation">
        <!-- No Flip Card -->
        <div class="simple-card" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center">
            <img class="card-image" alt="ico-image" src="{{ item.image }}">
            <br>
            <span>{{ item.displayName }}</span>
        </div>
        <!-- / No Flip Card -->
    </div>
</div>