<div class="page-content-inner">

    <!--Personal Dashboard V3-->
    <div class="personal-dashboard personal-dashboard-v3">

        <div class="columns">

            <div class="column is-8">
                <div class="columns is-multiline is-flex-tablet-p">

                    <div class="column is-6">
                        <div class="dashboard-card is-welcome">
                            <div class="welcome-title">
                                <h3 class="dark-inverted" *ngIf="authenticationService.userData as user">Hola {{user.displayName}}</h3>
                                <p>Estamos felices de tenerte con nosotros.</p>
                            </div>
                            <div class="welcome-progress">
                                <div id="welcome-gauge" class="gauge"></div>
                                <div class="meta">
                                    <span>Bienvenido</span>
                                    <span class="dark-inverted">A Leer! 🎉</span>
                                </div>
                            </div>
                            <div class="button-wrap">
                                <button class="button h-button is-primary is-fullwidth is-big is-raised" [routerLink]="['../../Books/Search']" >
                                    Buscar recomendación
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="column is-6">
                        <div class="stats-wrapper">
                            <div class="columns is-multiline is-flex-tablet-p">
                                <div class="column is-6">
                                    <div class="dashboard-card">
                                        <div class="media-flex-center">
                                            <div class="h-icon is-info is-rounded">
                                                <i data-feather="clock"></i>
                                            </div>
                                            <div class="flex-meta">
                                                <span>100</span>
                                                <span>Libros</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-6">
                                    <div class="dashboard-card">
                                        <div class="media-flex-center">
                                            <div class="h-icon is-purple is-rounded">
                                                <i data-feather="radio"></i>
                                            </div>
                                            <div class="flex-meta">
                                                <span>20</span>
                                                <span>Usuarios</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-6">
                                    <div class="dashboard-card">
                                        <div class="media-flex-center">
                                            <div class="h-icon is-green is-rounded">
                                                <i data-feather="user-check"></i>
                                            </div>
                                            <div class="flex-meta">
                                                <span>49</span>
                                                <span>Clases</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-6">
                                    <div class="dashboard-card">
                                        <div class="media-flex-center">
                                            <div class="h-icon is-orange is-rounded">
                                                <i data-feather="frown"></i>
                                            </div>
                                            <div class="flex-meta">
                                                <span>100</span>
                                                <span>Comentarios</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>