<div fxLayout fxLayoutAlign="center" class="content-letter">
    <span *ngIf="authenticationService.userData as user"
        class="card-letter animate__animated animate__fadeIn">¡Bienvenido <strong>{{user.email}}</strong>!</span>
</div>
<br><br>
<div fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div fxFlex="30" fxFlex.md="30" fxFlex.sm="100" fxFlex.xs="100" *ngFor="let card of navigation">
        <!-- No Flip Card -->
        <div class="simple-card animate__animated animate__fadeIn" fxLayout="row" fxLayoutGap="8px"
            fxLayoutAlign="center center" (click)="selectCard(card)">
            <img src="{{card.image}}" class="card-image" alt="ico-image">
            <br>
            <span style="text-align: center;">{{card.displayName}}</span>
        </div>
        <br><br>
        <!-- No Flip Card -->
    </div>
</div>