<div class="minimal-wrapper darker">
    <!--Page body-->
    <div class="error-container">
        <div class="error-wrapper">
            <div class="error-inner has-text-centered">
                <img class="light-image" src="assets/img/illustrations/placeholders/launch.svg" alt="" />
                <img class="dark-image" src="assets/img/illustrations/placeholders/launch-dark.svg" alt="" />
                <h3 class="dark-inverted">Gracias por registrarte</h3>
                <p *ngIf="authenticationService.userData as user">Hemos enviado un correo electrónico de confirmación a
                    <strong class="title-add-book">{{user.email}}</strong>.</p>
                <p>Por favor revise su correo electrónico y haga clic en el enlace para verificar su dirección de
                    correo electrónico.</p>
                <br>
                <div class="button-wrap">
                    <button type="submit" class="button h-button is-info is-rounded is-elevated"
                        (click)="authenticationService.SendVerificationMail()">
                        Reenviar correo electrónico de verificación
                    </button>
                </div>
                <br>
                <div class="forgot-link has-text-centered">
                    <a routerLink="/Login/Signin">¿Quieres volver? Iniciar Sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>