<div fxLayout="column" fxLayoutAlign="center center" fxFill>
    <h2>Iniciar Sesión</h2>
    <p class="text-muted">Bienvenido a nuestra biblioteca virtual</p>
    <mat-card>
        <form name="loginForm" [formGroup]="formLogin">
            <mat-form-field appearance="outline">
                <mat-label><label for="email">Correo electrónico</label></mat-label>
                <input id="email" matInput autocomplete="off" formControlName="email" />
                <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                <mat-error *ngIf="formLogin.get('email')!.hasError('pattern')">
                    Correo electrónico nó válido.
                </mat-error>
                <mat-error *ngIf="formLogin.get('email')!.hasError('required')">
                    Se require de un correo electrónico.
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label><label for="password">Contraseña</label></mat-label>
                <input id="password" matInput type="password" autocomplete="off" formControlName="password" />
                <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                <mat-error *ngIf="formLogin.get('password')!.hasError('required')">
                    Se requiere de una contraseña.
                </mat-error>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="end">
                <a routerLink="/Login/ForgotPassword" class="text-muted">¿Has olvidado tu contraseña?</a>
            </div>
            <div fxLayout="column" fxLayoutAlign="center" class="form-vertical-buttons">
                <button type="submit" mat-raised-button color="primary" aria-label="Ingresar" (click)="login()"
                    [disabled]="formLogin.invalid">
                    Ingresar
                </button>
                <button mat-raised-button color="warn" (click)="authenticationService.GoogleAuth()">
                    Iniciar sesión con Google
                </button>
                <button mat-raised-button color="primary" routerLink="/Home">
                    Regresar
                </button>
            </div>
        </form>
    </mat-card>
    <div fxLayout="row" fxLayoutAlign="center center" class="py-3">
        <a routerLink="/Login/Signup" class="text-muted">¿No tienes cuenta? <span>Regístrate</span></a>
    </div>
</div>