<div id="huro-app" class="app-wrapper">
    <!--Webapp navbar alt-->
    <div class="webapp-navbar">
        <div class="webapp-navbar-inner">
            <div class="left">
                <a [routerLink]="['Managements/Intro/Main']" routerLinkActive="router-link-active" class="brand">
                    <img class="light-image" src="assets/img/illustrations/dashboards/lifestyle/reading.svg" alt="" />
                </a>
                <div class="separator"></div>
                <h1 id="webapp-page-title" class="title is-5">Bienvenido</h1>
            </div>
            <div class="center">
                <div id="webapp-navbar-menu" class="centered-drops">
                    <div class="centered-drop" *ngFor="let item of navigation">
                        <div class="dropdown is-modern is-spaced dropdown-trigger has-mega-dropdown">
                            <div class="is-trigger" aria-haspopup="true" aria-controls="dropdown-menu">
                                <button class="button h-button is-rounded" aria-haspopup="true"
                                    aria-controls="dropdown-menu" routerLink="{{ item.route }}">
                                    <span>{{ item.displayName }}</span>
                                    <span class="caret"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="toolbar ml-auto">

                    <div class="toolbar-link">
                        <label class="dark-mode ml-auto">
                            <input #inputTheme type="checkbox" checked (click)="setTheme()">
                            <span></span>
                        </label>
                    </div>

                    <a class="toolbar-link right-panel-trigger" (click)="openPanel()">
                        <i data-feather="grid"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--Activity panel-->
    <div id="activity-panel" class="right-panel-wrapper is-activity" [class.is-active]="isOpenPanel">
        <div class="panel-overlay"></div>

        <div class="right-panel">
            <div class="right-panel-head">
                <h3>Configuraciones</h3>
                <a class="close-panel" (click)="openPanel()">
                    <i data-feather="chevron-right"></i>
                </a>
            </div>
            <div class="tabs-wrapper is-triple-slider is-squared">

                <div class="right-panel-body">
                    <div id="team-side-tab" class="tab-content is-active">
                        <!--Team Member-->
                        <div class="team-card">
                            <div class="meta">
                                <span>Perfil</span>
                            </div>
                            <a class="link" [routerLink]="['Managements/Profile/Main']">
                                <i data-feather="arrow-right"></i>
                            </a>
                        </div>

                        <!--Team Member-->
                        <div class="team-card">
                            <div class="meta">
                                <span>Cerrar sesión</span>
                            </div>
                            <a class="link" (click)="signOut()">
                                <i data-feather="power"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Wrapper -->
        <div id="app-onboarding" class="view-wrapper is-webapp">

            <div class="page-content-wrapper">
                <div class="page-content is-relative">
                    <router-outlet></router-outlet>
                </div>
            </div>

        </div>
    </div>