/* You can add global styles to this file, and also import other style files */

@import "src/colors";
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-pdfviewer/styles/material.css';
@import '../node_modules/@syncfusion/ej2-notifications/styles/material.css';

html,
body {
   //height: 100%;
}

.content-container {
    height: 100%;
    position: relative;
    width: 100%;
}

/** Custom Form Fields **/
.mat-form-field {
    width: 100%;
}

/** Forms **/
.form-vertical-buttons {
    margin: 25px 0 15px 0;

    button {
        margin: 5px 0 5px 0;
    }
}