/* You can add global styles to this file, and also import other style files */

@import "src/colors";

html,
body {
   
}



.content-container {
    height: 100%;
    position: relative;
    width: 100%;
}

/** Custom Form Fields **/
.mat-form-field {
    width: 100%;
}

/** Forms **/
.form-vertical-buttons {
    margin: 25px 0 15px 0;

    button {
        margin: 5px 0 5px 0;
    }
}